@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Thanks for your feedback!</p>

<address>
    <strong>Support:</strong>   <a href="mailto:jose.moreno@microsoft.com">jose.moreno@microsoft.com</a><br />
</address>